.col {
  height: 100vh;
}

.content {
  overflow: scroll;
}

#manuscript {
  padding: 0;
  height: 100vh;
}

#sidebar-top {
  height: 15vh;
  overflow-x: hidden;
}

#sidebar-middle {
  height: 77vh;
}

#sidebar-bottom {
  height: 8vh;
  display: flex;
}

.zoom{position:fixed, width:2em; height:2em; font-weight:bold}
#zoomIn{left:0; top:0}
#zoomOut{left:3em; top:0}


