.content {
  height: 100vh;
  overflow: scroll;
}

#manuscript {
  /* TODO: delete me */
  background-color: red;
  padding: 0;
}

#slides {
  /* background-color: #fbf3ea; */
}

.zoom{position:fixed, width:2em; height:2em; font-weight:bold}
#zoomIn{left:0; top:0}
#zoomOut{left:3em; top:0}


