.col {
  height: 100vh;
}

.content {
  overflow: scroll;
}

#manuscript {
  padding: 0;
  height: 100vh;
}


#mapCanvas{width:600px; height:600px; border:2px solid grey}

#msCanvas, manuscript{transition:transform .5s; transform-origin:top left}

#msCanvas{position:relative; left:0; top:0;}

#sidebar-top {
  height: 15vh;
  overflow-x: hidden;

}

#sidebar-middle {
  height: 77vh;
}

#sidebar-bottom {
  height: 8vh;
  display: flex;
}

.zoom{
  position: fixed;
  top: 2rem;
  left: 2rem;
  opacity: .8;
}
